<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if localeVietnam}}
            Đổi mật khẩu
        {{else}}
            Change password
        {{/if}}
    </title>
</head>
<body>
    {{#if localeVietnam}}
        <div>
            <div>Chào bạn!</div>
            <div></div>
            <div>Theo thông tin xác nhận từ bên Azota bạn đang muốn thực hiện việc đổi mật khẩu</div>
            <div>Chúng tôi vừa mới gửi cho bạn 1 đường link để reset lại mật khẩu của bạn</div>
            <div></div>
            <div>Để thực hiện việc đổi mật khẩu, vui lòng bạn click vào link bên dưới:</div>
            <a href="{{url}}/forgotPassword?passwordToken={{passwordToken}}&amp;email={{email}}">{{url}}/forgotPassword?passwordToken={{passwordToken}}&amp;email={{email}}</a>
        </div>
    {{else}}
        <div>
            <div>Hello!</div>
            <div></div>
            <div>According to confirmation from Azota, you want to change your password</div>
            <div>We have just sent you a link to reset your password</div>
            <div></div>
            <div>To change your password, please click on the link below:</div>
            <a href="{{url}}/en/forgotPassword?passwordToken={{passwordToken}}&amp;email={{email}}">{{url}}/en/forgotPassword?passwordToken={{passwordToken}}&amp;email={{email}}</a>
        </div>
    {{/if}}
</body>
</html>